#floatingButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #333;
            color: white;
            padding: .75rem;
            border: none;
            border-radius: .2rem;
            cursor: pointer;
            opacity: 70%;
            transition: 0.1s;

            &:hover {
            opacity: 100%;
        }
body{
color: red;
}
